/*
Color Palette: #A1A1A1
background color: #333333
font color: #EEEEEE      
secondary color: #CCCCCC
tertiary color: #706C61    
*/
/* font-family: 'Alkalami', serif;
font-family: 'Open Sans', sans-serif;/*/

@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Open+Sans:wght@300;400;600;700&display=swap');

html {
    font-size: 62.5%;
}
.milk {
  width: 75px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative; 
  animation: mymove 5s infinite;
  animation-delay: 2s;
}

@keyframes mymove {
  0%   {left:0px;}
  25%  {left:150px;}
  50%  {left:-150px;}
  100% {left:0px;}
}
header {
    background-image: linear-gradient(Black, Grey);
    margin: 0 4em;
    padding: 0.5rem;
    border: 1px solid #FFFFFF;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    border-radius: 5px;
    border-style: hidden;
}
body {
    margin: 0;
    background-color: #333333;
    color: #EEEEEE;
    text-shadow: 2px 2px #333333;
    border-style: dashed;
    border: 10px lightgrey;
    font-size: 1.1rem;
    text-align: justify;
}
.title {
    font-family: 'Alkalami', serif;
    flex-direction: column;
    text-align: center;
    letter-spacing: 0.4rem;
    margin: 15px;
    padding: 10px;
}
.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 7rem 4rem;
    align-items: center;
}
.image img {
    width: 100%;
    height: auto;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.image a {
    text-decoration: none;
    color: #EEEEEE;
}
.cardText  {
    color: #EEEEEE;
    background-image: linear-gradient(to right, grey, black);
    margin: 1rem;
    text-align: center;
    padding: 1rem;
    border-radius: 15px;
    margin-top: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
cite {
    font-size: 2rem;
}
p {
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    header {
        font-size: 1.6rem;
    }
    .gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: baseline;
    }
    .image {
        max-width: 300px;
    }
}
img:hover{
    transform: scale(1.1);
}